
### LLM ###

OPENAI_API_KEY=
ANTHROPIC_API_KEY=

###  Auth providers ###

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=""

MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=""

SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

X_CLIENT_ID=
X_CLIENT_SECRET=

ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=

### WORKER ###

WORKER_URL="http://arcade-worker:8002"

### Redis ###

REDIS_HOST=arcade-redis
REDIS_PORT=6379
REDIS_PASSWORD=""
RATE_LIMIT_REQS_PER_MIN=100

### ARCADE ###

ARCADE_HOME=/app
ARCADE_WORKER_SECRET=dev
ROOT_KEY_1=supersecret
